<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuanxn.academicscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermsActivity"
            android:label="@string/title_activity_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModifyTermActivity"
            android:label="@string/title_activity_modify_term"
            android:parentActivityName=".TermsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tuanxn.academicscheduler.TermsActivity" />
        </activity>
        <activity
            android:name=".ModifyCourseActivity"
            android:label="@string/title_activity_modify_course"
            android:parentActivityName=".CourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tuanxn.academicscheduler.CourseActivity" />
        </activity>
        <activity
            android:name=".ModifyAssessmentActivity"
            android:label="@string/title_activity_modify_assessment"
            android:parentActivityName=".AssessmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tuanxn.academicscheduler.AssessmentActivity" />
        </activity>
        <activity
            android:name=".NoteActivity"
            android:label="@string/title_activity_note"
            android:parentActivityName=".ModifyCourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tuanxn.academicscheduler.ModifyCourseActivity" />
        </activity>
    </application>

</manifest>